.custom-select-container {
    position: relative;
    width: 200px;
}

.custom-select {
    display: none;
}

.search-box {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.options-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 0 solid #ccc;
    overflow: hidden;
    transition: max-height 0.08s ease-out; /* Added transition */
    max-height: 0; /* Set initial height to 0 */
}

.options-container div {
    padding: 8px;
    cursor: pointer;
}

.options-container div.focused {
    background-color: #ddd;
}
